<h3>Add / Edit Blog</h3>
<p>
    To create New Page
</p>
<form>
    
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Page Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tags">
    </div>    
    <div class="form-group">
        <textarea placeholder="Page Source" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <div class="row"> 
            <div class="offset-md-10 col-1"><button class="btn btn-primary">Save</button></div>
            <div class="col-1"><button class="btn btn-default">Cancel</button></div>
        </div>
    </div>
</form>