<%- contentFor('body') %>
<div class="">
        <form action="" method="post">
                <fieldset>
                    <div class="form-group">
                        <label>username</label>
                        <input type="text" class="form-control" name="username" id="">
                    </div>
                    <div class="form-group">
                        <label>password</label>
                        <input type="text" class="form-control" name="username" id="">
                    </div>
                    <div>
                        <button class="btn btn-primary"type="submit">login</button>
                        <button class="btn btn-default"type="submit">cancel</button>
                    </div>
                </fieldset>
            </form>
</div>