<div class="dashboard row">
  <div class="sidenav col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link active" href="#">Summary</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Pages</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Form</a></li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Blogs</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Help ? </a></li>
    </ul>
  </div>
  <div class="container-body col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>