<div class="row">
  <div class=".col-xl-auto col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="/assets/images/gallery-placeholder.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class=".col-xl-auto col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="/assets/images/gallery-placeholder.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class=".col-xl-auto col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="/assets/images/gallery-placeholder.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class=".col-xl-auto col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="/assets/images/gallery-placeholder.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
