<div class="row">
  <div class=".col-xl-1 col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="card" >
      <img
        class="card-img-top"
        src="/assets/images/gallery-placeholder.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class=".col-xl-1 col-lg-2 col-md-3  col-sm-6 col-xs-12">
    <div class="card" >
      <img
        class="card-img-top"
        src="/assets/images/gallery-placeholder.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class=".col-xl-1 col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="card" >
      <img
        class="card-img-top"
        src="/assets/images/gallery-placeholder.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class=".col-xl-1 col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="card" >
      <img
        class="card-img-top"
        src="/assets/images/gallery-placeholder.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
